*{
	padding:0;
	margin: 0;
}
html
{
font-family: verdana;

}

body
{
	overflow: hidden;

}
#form-box
{
	width: 800px;
	height: 900px ;
	margin:.5em auto;	
	background: #081A2D;
	
	background: url(../img/bg1.jpg);


}

#form-box form fieldset
{
	padding: 1em;
	border:none;
	width: 500px;
	margin: 0 auto;
	margin-bottom: 1em ;
	box-sizing:border-box;
	background: none;
	


}

#form-box form fieldset input, select,textarea
{
	margin: 0.8em 0;
	padding: 1em;
	width:450px;
	box-sizing:border-box;
	
	background: rgba(0, 0,0, 0.6);
	border: none;



}

input.button
{
	background: #2D2D2D;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 5em;
}

h2
{
	padding: 1em;
	border:none;
	width: 500px;
	margin:  0 auto;
	box-sizing:border-box;
	text-transform: uppercase;
	text-align: center;
	font-family: verdana;
	/*background: #2D2D2D;*/
	color: white;
	/* background: rgba(0, 0,0, 0.6); */


}

.header
{
	color:white;
	/*border:1px solid white;*/
	text-align: center;
	padding: 2em 0;
}

.logo
{
	width: 450px;
}